html.feedback {
  padding-top: 100px;

  .content {
    position: relative;

    .divider.top {
      top: -1px;
      z-index: 1;
      bottom: auto;
    }
  }

  #feedback {
    font-size: 1.2em;
    margin: 0 auto;
    max-width: 800px;
    padding: 7em 15px 3em;
    text-align: center;

    .feedback-info{
      color: #333;

      span {
        display: block;
      }
    }
  }

  .typeform-share {
    @include transform(skewY(0deg));
    background: $yellow;
    color: #fff;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0.3em;
    padding: 12px 18px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
      @include transform(skewY(-3deg));
      background: $base;
      border-color: $base;
      color: #fff;
    }
  }

  .typeform-share-alt {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8em;
    font-weight: 300;
    color: #555;

    strong {
      font-weight: 400;
    }
  }
}

@media screen and (max-width:1000px) {
  html.feedback #feedback {
    padding-top: 4em;
  }
}

@media screen and (max-width:400px) {
  html.feedback #feedback .feedback-info span {
    display: inline;
  }
}
