$font-fallback: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base: rgba(54,55,59, 1); /* 36383b */

$blue: rgba(0,94,210,1); /* 005ed2 */
$lightblue: rgba(31,162,230,1); /* 1fa2e6 */

$yellow: rgba(220,232,107,1); /* dce86b */
